@import '../layout/media-queries';

.review {
    position: relative;
    padding:5rem 0;
    z-index: 1;
    &::after {
        content: "";
        background: url("/images/bg-quotes.png") no-repeat;
        top: 2rem;
        right:-2.5rem;
        z-index:-1;
        width:100%;
        height: 100%;
        position: absolute;
    }
    &__content {
        display:flex;
        
        @include maxWidth(768px) {
            flex-direction:column;
            padding: 0 2rem;
        }
        .card {
            padding: 2rem 1rem;
            color:$white;
            margin: 0 1rem;
            box-shadow: 11px 5px 8px -8px rgba(0,0,0,0.46);
            @include maxWidth(768px) {
               margin:1rem 0;
            }
            .profile {
                display:flex;
                margin-top: 1.5rem;
                &-wrapper {
                    width:50px;
                    margin-right: 1rem;
                    img {
                        
                        border-radius: 50%;
                    }
                    
                }
                &-info {
                    .name {
                        font-weight: 700;
                    }
                    p:not(.name) {
                        font-weight: 300;
                        font-size: .75rem;
                        margin-top: .5rem;
                    }
                }
            }
        }
    }
}
