.btn {
    color:$white;
    text-decoration:none;
    padding:.5rem 1rem;
    width:200px;
    background:linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border-radius:50px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    transition: .3s ease;
    &:hover {
        background:hsl(176, 68%, 64%);
    }
}